
.hidden{
    grid-row: 3;
    grid-column: 2;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 10%;
    display:none;
    
}

.hidden input{
    height: 23%;
    margin-top: 2%;
    padding-bottom: 1%;
}

.hiddenStars{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}
.hiddenStars label.star{
    font-size: 20px;
}

.Effort{
    padding-left: 24px;
}

div.stars {
   width: max-content;
   align-items: center;
    display: inline-block;
  }
  
  input.star { display:none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: rgb(255, 68, 68);
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: rgb(255, 119, 119);
    text-shadow: 0 0 20px #952;
  }
  
  input.star-10:checked ~ label.star:before {
    color: rgb(255, 119, 119);
    text-shadow: 0 0 20px #952;
  }
  
  input.star-1:checked ~ label.star:before { color: #F62; }
  
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }