.center{
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

input[type=text], .Idea{
   background-color: #ecf6ff3a;
   border: transparent;
   box-shadow: inset 1px -2px 1px rgba(0, 0, 0, 0.25);
   padding-left: 8px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 250;
   font-size: 1.4rem;  
    height: 10%;

}

input::placeholder{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 250;
    font-size: 1.4rem;
    text-align: start;
   
    color: black;
}

.Idea{
    height: 40%;
    resize: none;
}

.Btn{
    align-self: center;
    width: min-content;
    padding: 2% 10%;
    background-color: #c7aaa0;
    color: white;
    border: transparent;
    font-size: 1.4rem;
}