
  .AdminBg, .BgClose{
    display: none;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    justify-content: center;
    align-items: center;
}

.whiteBox{
    display: flex;
    flex-direction: column;
 
  height: 60%;
  width: 60%;
  background-color: #c7aaa0;
  align-items: center;
  z-index: +2;
}

.values{
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.values button{
    width: min-content;
    margin-top: 8px;

    border: transparent;
    color: black;
    background-color: #ecf6ff3a;
    padding:1% 2%;
    font-size: 1.1em;
}

.X{
  transform: rotate(45deg);
  font-size: 2em;
  align-self: flex-end;
  padding-right: 2%;
  padding-top: 2%
}

.X:hover{
    cursor: pointer;
}
.Login{
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  padding-right: 2%;
  padding-top: 2%;   
}